.navbar{
    background-color:#751026;
 
    font-family: 'Nunito', sans-serif;
    font-weight: 6s00;
    transition: .5s;
    font-size: 14px;
    
    }
    #footer{
        background-color: #751026;
    }
    

.float{
    position: fixed;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    bottom: 40px;
    right: 40px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 999;
}
.fa-whatsapp{
    font-size: 60px;
}
.float:hover{
background-color: #28e76e;
}
